.project {
  font-size: 2rem;
}
.list {
  width: 100%;
  min-height: 3rem;
}
.list table {
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f9;
}
.listItem td {
  max-width: 500px;
}
.checkBox {
  padding-right: 1rem;
}
